@charset "utf-8";
.cd-top {
  z-index:9999;
  display: inline-block;
  border-radius: 3px;
  height: 38px;
  width: 38px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(248,248,255, 0.8) url(/img/top.png) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 0.85;
}
.cd-top.cd-is-visible:hover {
  /* the button becomes visible */
    visibility: visible;
    background: #e86256 url(/img/top.png) no-repeat center 50%;
    opacity: 1;
}
.cd-top.cd-fade-out {
  /* 如果用户继续向下滚动,这个按钮的透明度会变得更低 */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #FAFAFA;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 38px;
    width: 38px;
    right: 30px;
    bottom: 30px;
  }
}